---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Image } from 'astro:assets';
import laravel from '/public/image/download-removebg-preview.png';
import goku from '/public/image/goku.png';
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>👨🏻‍💻 Hello, Coders</h1>
			<p>
				Welcome to the official blog . This blog is a personal website,
				or portfolio with Astro built in.
			</p>

			<p>
				In this course, you will learn how to develop apps using the
				Laravel framework, leveraging its advantages for robust, fast
				development and deployment
			</p>

			<div style="display:flex;justify-content:between">
				<div>
					<p>
						What do you need to become an expert backend developer using
						Laravel?
					</p>
					<ul>
						<li>Basic knowledge of <code>PHP, HTML, and SQL</code></li>
						<li>Understanding of OOP concepts</li>
						<li>Familiarity with the MVC pattern</li>
					</ul>
				</div>
				<div>
					<Image src={laravel} alt="A description of my image." />
				</div>
				
			</div>
			
			



			<p>Course Outline:</p>
		<ul>
			<li>Prologue</li>
			<li>Getting Started</li>
			<li>Installation</li>
			<li>Configuration</li>
			<li>Directory Structure</li>
			<li>Frontend</li>
			<li>Starter Kits</li>
			<li>Deployment</li>
			<li>Architecture Concepts</li>
			<li>The Basics</li>
			<li>Digging Deeper</li>
			<li>Security</li>
			<li>Database</li>
			<li>Eloquent ORM</li>
			<li>Testing</li>
			<li>Deploy</li>
			<li>
				Version Control Systems (VCS) for securely storing and sharing
				your code
			</li>
		</ul>

		<p>What can you build with Laravel?</p>
		<ul>
			<li>
				Integrated systems such as Customer Relationship Management
				(CRM), Supply Chain, Knowledge Management System, and Enterprise
				Systems using Admin LTE, Bootstrap DataTables, and Kendo UI
			</li>
			<li>Web Services or APIs</li>
			<li>
				Fullstack applications, such as a movie app integrated with the
				IMDB API or an online shop with shipping integrated with Google
				Maps or Leaflet API
			</li>
		</ul>


		<p> So , do you want a be expert laravel developer?</p>
		<p> take it this course</p>
		<Image src={goku} alt="goku"/>
		</main>

		

		<Footer />
	</body>
</html>
